<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="ilog.rules.studio.dvs.dvsArchive.launchConfiguration">
<stringAttribute key="ilog.rules.studio.dvs.DEST_FILE" value="/DVS Project/report.html"/>
<stringAttribute key="ilog.rules.studio.dvs.DVS_ARCHIVE" value="\Rules\DVS Archive.zip"/>
<stringAttribute key="ilog.rules.studio.dvs.DVS_CONFIGURATION_FILE_NAME" value="IBM WebSphere AS 8.5 9088"/>
<stringAttribute key="ilog.rules.studio.dvs.DVS_PROJECT_NAME" value="DVS Project"/>
<stringAttribute key="ilog.rules.studio.dvs.EXTRACTOR" value=""/>
<booleanAttribute key="ilog.rules.studio.dvs.LOCAL_EXECUTION" value="false"/>
<stringAttribute key="ilog.rules.studio.dvs.RULE_PROJECT" value="Rules"/>
<stringAttribute key="ilog.rules.studio.dvs.SERVER_URL" value="http://localhost:9082/res"/>
<booleanAttribute key="ilog.rules.studio.dvs.USE_DEPLOYED_XOM" value="true"/>
<booleanAttribute key="ilog.rules.studio.dvs.USE_EXTRACTOR" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Rules"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="com.ibm.rules.studio.dvs.ui.dvsClasspathProviderId"/>
</launchConfiguration>